
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-left: auto;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: var(--color-main);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}

//mine//

.mobile-menu__nav li {
    margin-bottom: 32px;
}

.mobile-menu {

    &__link {
        color: var(--color-main);
        text-decoration: none;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
    }

    &__contacts {
        margin-top: auto;
        margin-bottom: 64px;
    }

    &__contact-tel {
        color: var(--color-web);
        text-decoration: none;
        font-family: Roboto;
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.68px;
    }

    &__mrg {
        margin-bottom: 32px;
    }

    &__pad {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.20);
        margin-right: 10px;
    }

    &__contact-mail {
        color: var(--color-desc);
        text-decoration: none;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    &__current {
        color: var(--color-web);
    }

    &__socials {
        display: flex;
    }

    &__social-link {
        color: var(--color-web);
        text-decoration: none;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.36px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: var(--color-additional);
}

.mobile-menu .menu {
    position: fixed;
    top: 10px;
    right: 15px;
    margin-left: auto;
}