.team-section {
    background-color: var(--color-button);
    padding-bottom: 94px;
    padding-top: 94px;

    &__text {
        padding-bottom: 30px;
        padding-top: 30px;
        margin-bottom: 0;
    }   

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.67;
        color: var(--color-main);
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 30px;
        }
        
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    }

    &__list {
        list-style: none;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 30px;
        }
    }

    &__items {
        background-color: var(--color-additional);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 30px;        
    }
    
    &__subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: var(--color-main);
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    &__desc {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: var(--color-desc);
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    &__socials {
        display: flex;
        list-style: none;
        margin-top: 16px;
        justify-content: center;
        gap: 10px;
    
    }
    
    &__socials-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-additional);
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--color-web);
        }
    
        &:hover svg,
        &:focus svg {
            fill: var(--color-additional);
    
        }
    }
    
    &__socials-link-icon {
        fill: var(--color-icon);
        background-color: none;
    
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__img {
        width: 450px;
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    
}