:root {
    //colors//
    --color-main: #212121;
    --color-web: #2196F3;
    --color-studio: #000;
    --color-active: #188CE8;
    --color-background: #F5F5F5;
    --color-add-background: #2F303A;
    --color-additional: #fff;
    --color-desc: #757575;
    --color-button: #F5F4FA;
    --color-footer: #a0a0a4;
    --color-port-border: #eee;
    --color-icon: #afb1b8;

    //fonts//
    --font-family-main: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}